<div class="container-fluid">
    <div class="row bg-coluna align-items-center">

        <div class="col-md-8">
            <div class="col-md-12 square">

            </div>
        </div>

        <div class="col-md-4">
            <div class="row d-flex justify-content-center text-color-size-form">
                <div class="col-md-10 box">

                    <h1 class="text-center mb-4 text-color-size-title">Cadastro Empresarial</h1>

                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input [(ngModel)]='user.nomeCompleto' class="form-control" type="text" name="nome" id="nome"
                            placeholder="Digite seu nome completo">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario"
                            placeholder="Digite seu usuario de acesso">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da Foto</label>
                        <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]='user.senha' class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <input (input)='confirmeSenha($event)' class="form-control" type="password"
                            name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">
                    </div>
                    
                    <div class="d-flex justify-content-center mt-4 mb-0">
                        <button type="submit" class="btn btn-warning btn-lg mr-4" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-warning" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>