@keyframes slide {
    from { 
        transform: translateX(43vw);
    }
    to { 
        transform: translateX(0);
    }
  }
  
  .bg-sobre{
    height: 100vh;
    background-color: rgb(15, 15, 15);
  }
  
  .titulo-home{
    color: orange;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 35px;
  }
  
  p{
    font-size: 25px;
    text-align: justify;
    color: rgb(255, 255, 255);
  }
  
  
  /* -------------------------------------------------------------------------- */
  /*             INICIO DA ESTILIZAÇÃO DA HOME-PAGE - TERCEIRA DOBRA            */
  /* -------------------------------------------------------------------------- */
  .card-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .bg-equipe{
    background-image: url('https://i.imgur.com/GgeiHNX.png');
    background-size:cover;
    background-position: center;
  }
  
  .titulo-equipe{
    color: orange;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
  }