<body class="fundo">
  <div>
    <nav class="navbar navbar-expand-lg navbar navbar-light navbart">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--MENU-->

      <!--TINCAP-->
      <div class="collapse navbar-collapse " id="conteudoNavbarSuportado" id="menu">
        <li class="nav-item mr-auto d-flex align-items-center fs-20">
          <p class="m-0 font-weight-bold text-black"> <a href="perfil.html"> TINCAP</a></p>
        </li>

        <!--Pesquisar-->
        <ul class="navbar-nav m-auto d-flex align-items-center">
          <form class="d-flex">
            <input class="form-controlm m-auto mr-sm-1 sm-2" type="search" placeholder="Pesquisar"
              aria-label="Pesquisar">
            <button class="btn btn-warning font-weight-bold me-3 fs-12" type="submit">Pesquisar</button>
          </form>
        </ul>

        <!--Link configurações-->
        <ul class="navbar-nav ml-2" id="menu">
          <li class="nav-item mr-sm-2">
            <p class="m-0 font-weight-bold text-black"> <a href="cadastrar.html">Configurações</a></p>
          </li>
        </ul>

        <!--sair-->
        <ul class="navbar-nav ml-9" id="menu">
          <li class="nav-item ml-auto">
            <p class="m-0 font-weight-bold text-black"> <a href="entrar.html">Sair</a></p>
          </li>
        </ul>
      </div>
    </nav>
    <br>

    <!--coluna 1-->
    <div class="container">
      <div class="row align-items-start">
        <div class="col-3 mp-2 box">
          <img src="https://i.imgur.com/rVQQ1m1.jpg" alt="Foto perfil" width="100px" height="100px"
            class="img-fluid rounded-circle m-auto d-flex align-items-center">
          <br>
          <p class="font-weight-bold text-black m-auto d-flex align-items-center pl-4">Nome do usuário</p>
          <hr mt-5 mb-5>
          <p>Data nascimento: </p>
          <p>CPF: </p>
          <P>Dependentes: </P>
          <p>Tipo de moradia: </p>
        </div>
        <!--coluna 2-->
        <div class="col-6 mp-2 boxw">
          <p class="font-weight-bold text-black center fs-20">Seja bem vindo(a)! Feed de noticias</p>
          <hr>

          <div class="row d-flex justify-content-center mt-3 mb-5">


            <div class="modal-content colorr">

              <div class="modal-body">

                <!--  <div class="form-group ">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
                  </div> -->

                <div class="form-group">
                  <label for="texto">Texto</label>
                  <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="texto">Escolha um tema ou <a href="">cadastre um novo</a>: </label>
                  <select name="tema" id="tema" class="form-control">
                    <option value="">Temas</option>
                  </select>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger d-flex align-items-center"
                  data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success d-flex align-items-center">Publicar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">

          <p class="hcukyx3x oygrvhab cxmmr5t8 kvgmc6g5"><span data-outline-text="true">⁠<br></span></p>

          <!--foto/video postar-->
          <div class="pybr56ya dati1w0a hv4rvrfc osnr6wyh lhclo0ds j83agx80 bp9cbjyn" role="region">
            <div class="l9j0dhe7">
              <div
                class="n00je7tq arfg74bv qs9ysxi8 k77z8yql i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s"
                data-visualcompletion="ignore"></div>
              <input type="file"
                accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,video/x-matroska,.mkv"
                class="mkhogb32" multiple="">
              <div
                class="oajrlxb2 bp9cbjyn g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 j83agx80 rj1gh0hx btwxx1t3 g5gj957u p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo idt9hxom cxgpxx05 dflh9lhu sj5x9vvc scb9dxdr l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l ue3kfks5 pw54ja7n uo3d90p7 l82x9zwi buofh1pr taijpn5t"
                role="button" tabindex="0">
                <div
                  class="n00je7tq arfg74bv qs9ysxi8 k77z8yql i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s rnr61an3"
                  data-visualcompletion="ignore"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--coluna 3-->
      <div class="col-2 mp-2">
        <!--CARD 1-->
        <div class="card m-auto d-flex align-items-center">
          <div class="card-header">
            Destaque
          </div>
          <div class="card-body card">
            <h5 class="card-title m-auto align-items-center cardtitulo">Bolsa Família</h5>
            <p class="card-text center">Governo envia ao Congresso Orçamento de 2022 sem reajuste no Bolsa Família</p>
            <a href="https://oglobo.globo.com/economia/governo-envia-ao-congresso-orcamento-de-2022-sem-reajuste-no-bolsa-familia-25178554"
              target="_blank" class="btn btn-warning">Visitar</a>
          </div>
          <div class="card-footer text-muted">
            2 dias atrás
          </div>
        </div>

        <br>
        <br>

        <!--CARD 2-->
        <div class="card m-auto align-items-center">
          <div class="card-header">
            Destaque
          </div>
          <div class="card-body card">
            <h5 class="card-title m-auto align-items-center cardtitulo">Auxilio Emergencial</h5>
            <p class="card-text center">Veja calendários da 6ª e da 7ª parcelas</p>
            <a href="https://www.istoedinheiro.com.br/auxilio-emergencial-veja-calendarios-da-6a-e-da-7a-parcelas/"
              target="_blank" class="btn btn-warning">Visitar</a>
          </div>
          <div class="card-footer text-muted">
            1 dias atrás
          </div>
        </div>

      </div>

    </div>
  </div>

</body>