.fs-12{
    font-size: 12px;
}

.font-size-feed{
    font-size: 25px;
}

header {
    background: rgba(26, 26, 26, 0.9);
}

#menu li a {
    text-decoration: none;
    color:white;
}

#menu li a:hover {
    text-decoration: none;
    color:rgb(255, 149, 11);
}

.logo {
    margin-left: 5%;
    padding: 10px;
    margin: 0;
}

.logo img {
    width: 101px;
    height:30px;
}

.fundo{
    background-color: rgb(255, 255, 255);
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(242, 155, 0, 0.35);
    padding: 50px;
    height: 700px;
}

.form-control:focus {
    border-color: rgb(255, 149, 11);
    box-shadow: 0 0 10px rgb(255, 149, 11);
}

.form-control-alinhamento{
    justify-content: end;
}

.cardtitulo{
    color: rgb(255, 123, 0);
}

.card{
    width: 300px;
}

.img-perfil{
    width: 300px !important;
    height: auto;
}

.card-columns{
    display: inline;
    flex-direction: column;
}

.card-postagem{
    width: 600px;
}

.form-control-pesquisar{
    width: 425px;
}
.ppostagem{
    margin-right: 70% !important;

}
.apoie{
    background-color: rgba(255, 166, 0, 0.267);
}
.apoie:hover{
    background-color: orange;
}
@counter-style contador{
    system: numeric;
}