#img-bg{
   
    min-height: 990px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    #fundo-Bg{
  
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      }
  
      #imgpos{
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 315px;
        top: -50px;
      }
  
      .box{
        
        border-radius: 20px;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        padding: 50px;
      }
  