<header>
  <!--MENU-->
  <nav class="navbar navbar-expand-lg navbar navbar-light navbart">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--TINCAP-->
    <div class="logo">
      <a href=""><img src="https://i.imgur.com/bGMTXRf.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado" id="menu">
      <!---- <li class="nav-item mr-auto d-flex align-items-center fs-20">
                <p class="m-0 font-weight-bold text-black"> <a href="perfil-e.html"> TINCAP</a></p>
                </li> -->
      <!--Pesquisar-->
      <!-- <ul class="navbar-nav m-auto d-flex align-items-center pr-5">
                <form class="d-flex">
                <input class="form-controlm m-auto mr-sm-1 sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-warning font-weight-bold me-3 fs-12" type="submit">Pesquisar</button>
                </form>
                </ul> -->
      <div class="input-group d-flex justify-content-center">
        <input class="form-controln py-2 border-right-0 border rounded-right" type="search" value="Pesquisar no TINCAP"
          id="example-search-input" style="width: 360px; height:30px">
        <span class="input-group-append">
          <button class="btn btn-custom" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <!--Link configurações-->
      <ul class="navbar-nav ml-2" id="menu">
        <li class="nav-item mr-sm-2">
          <p class="m-0 font-weight-bold text-black"> <a href="cadastrar.html">Configurações</a></p>
        </li>
      </ul>
      <!--sair-->
      <ul class="navbar-nav ml-9" id="menu">
        <li class="nav-item ml-auto">
          <p class="m-0 font-weight-bold text-black"> <a href="entrar.html"> Sair</a></p>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid fundo">

  <!--coluna 1-->
  <div class="row">

    <div class="col-md-3">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-10 box">
          <img src="https://i.imgur.com/rVQQ1m1.jpg" alt="Foto perfil" width="100px" height="100px"
            class="img-fluid rounded-circle m-auto d-flex align-items-center">
          <br>
          <p class="font-weight-bold text-black m-auto text-center">Nome empresa</p>
          <hr mt-5 mb-5>
          <p>CNPJ: </p>
          <P>Familias ajudadas: </P>
          <p>Tipo de doação: </p>
          <p>Descrição:</p>
        </div>
      </div>
    </div>

    <!--coluna 2-->

    <div class="col-md-6 mt-5 d-flex justify-content-center">
      <div class="col-md-12">
        <p class="font-weight-bold text-center fs-20 cardtitulo">Seja bem vindo(a)! Feed de notícias</p>
        <hr>
        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="modal-content colorr">
            <div class="modal-body">
              <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
              </div>  
              <div class="form-group">
                <label for="texto">Texto</label>
                <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label for="texto">Escolha um tema ou <a href="">cadastre um novo</a>: </label>
                <select name="tema" id="tema" class="form-control">
                  <option value="">Temas</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger d-flex align-items-center center"
                data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success d-flex align-items-center center">Publicar</button>
            </div>
          </div>
        </div>

        <div class="container mb-5 mt-5" id="postagens">

          <nav>
            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

              <a class="nav-item nav-link active text-dark font-weight-bold" id="nav-todasPostagens-tab"
                data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                aria-selected="true">Todas as
                Postagens</a>

              <a class="nav-item nav-link text-dark font-weight-bold" id="nav-profile-tab" data-toggle="tab"
                href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                Postagens</a>

              <a class="nav-item nav-link text-dark font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
                href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por
                Tema</a>

            </div>
          </nav>
          <div class="tab-content mt-5" id="nav-tabContent">

            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
              aria-labelledby="nav-todasPostagens-tab">

              <!-- PESQUISA DE POSTAGEM POR TITULO -->
              <div class="row d-flex justify-content-center mt-5 mb-5">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" id="titulo" placeholder="Pesquise postagens por titulo">
                  </div>
                </div>
              </div>


              <!-- CARDS DAS POSTAGENS -->
              <div class="card-columns">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title m-0">titulo</h5>
                    <small class="text-muted">Tema: </small>
                    <p class="card-text mt-3">texto</p>
                    <p class="card-text"><small class="text-muted">
                      </small></p>
                    <p class="card-text"><small class="text-muted">By: </small></p>

                  </div>
                </div>
              </div>

            </div>

            <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

              <div class="card-columns">
                <div class="card text-center">
                  <div class="card-body">

                    <h5 class="card-title m-0">Titulo</h5>
                    <small class="text-muted">Tema:</small>
                    <p class="card-text  mt-3"> Descricao</p>
                    <p class="card-text">
                      <small class="text-muted text-left"></small>
                    </p>

                    <a class="text-primary mr-3" href="">Editar</a>
                    <a class="text-danger" href="">Apagar</a>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

              <div class="card-columns">
                <div class="card text-center">
                  <div class="card-body">

                    <h5 class="card-title m-0"> Titulo</h5>
                    <p class="card-text mt-3">Descricao</p>
                    <p class="card-text"><small class="text-muted"></small>
                    </p>
                    <p class="card-text"><small class="text-muted">By:</small></p>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!--#############################################################-->
    </div>

    <!--coluna 3-->
    <div class="col-md-3">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-11">
        <!--CARD 1-->
        <div class="card">
          <div class="card-header text-center">Destaque</div>
          <div class="card-body card">
            <h5 class="card-title text-center">Bolsa Família</h5>
            <p class="card-text center">Governo envia ao Congresso Orçamento de 2022 sem reajuste no Bolsa Família</p>
            <a href="https://oglobo.globo.com/economia/governo-envia-ao-congresso-orcamento-de-2022-sem-reajuste-no-bolsa-familia-25178554"
              target="_blank" class="btn btn-warning">Visitar</a>
          </div>
          <div class="card-footer text-center">2 dias atrás</div>
        </div>

        <!--CARD 2-->
        <div class="card mt-5">
          <div class="card-header text-center">Destaque</div>
          <div class="card-body card">
            <h5 class="card-title text-center">Auxilio Emergencial</h5>
            <p class="card-text center">Veja calendários da 6ª e da 7ª parcelas</p>
            <a href="https://www.istoedinheiro.com.br/auxilio-emergencial-veja-calendarios-da-6a-e-da-7a-parcelas/"
              target="_blank" class="btn btn-warning">Visitar</a>
          </div>
          <div class="card-footer text-center">1 dias atrás</div>
        </div>
      </div>
    </div>
  </div>
</div>