.fs-12{
    font-size: 12px;
}

.fs-20{
    font-size: 20px;
}

header {
    background: rgba(39, 39, 39, 0.096);
}

#menu li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin-left: 5%;
    padding: 10px;
    margin: 0;
}

.logo img {
    width: 101px;
    height:30px;
}

.fundo{
    background-image: url(https://i.imgur.com/vNi9UhE.jpg);
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(242, 155, 0, 0.35);
    padding: 50px;
    height: 700px;
}

.form-control:focus {
    border-color: rgb(255, 149, 11);
    box-shadow: 0 0 10px rgb(255, 149, 11);
}

.cardtitulo{
    color: rgb(255, 123, 0) ;
}

.card{
    width: 315px;
}