/*COLUNA FONTES TAMANHO*/
    .fs-12{
    font-size: 12px;
    }
    .fs-20{
        font-size: 20px;
    }
/*CONTAINERS E ALINHAMENTO*/
    .flex-container {
        display: flex;
        background-image: linear-gradient(o top, #f6d365 0%, #fda085 100%);
    }
    .flex-container > div {
        background-image: linear-gradient(o top,#f6d365 0%, #fda085 100%);
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    .center{
        text-align: center;
    }
    #menu li {
        display: inline;
        padding: 20;
    }
/*MENU*/
header {
    background: rgba(39, 39, 39, 0.096);
    }
    /*Cor menu
    .navbart{
        background-color:  #ffffff;
    }*/
    #menu li a {
        text-decoration: none;
        color:rgb(255, 255, 255);
    }
    #menu li a:hover {
        color:rgb(255, 196, 0);
    }
    .br-50{
        border-bottom: #fbc2eb;
        border-bottom: 50%;
    }
    .logo {
        margin-left: 5%;
        padding: 10px;
        margin: 0;
    }
    .logo img {
        width: 101px;
        height:30px;
    }
    /*cor background*/
    .fundo{
        background-color: rgba(243,244,248,255);
    }
/*COLUNA 1*/
    .box{
        border-radius: 8px;
        background-color: #ffffff;
        /* background-image: linear-gradient(180deg, #f6d365 0%, #fd9f858f 100%);*/
        padding: 50px;
        height: 600px;
    }
/*COLUNA 2*/
    .boxw{
        border-radius: 8px;
        background-color: #fffffff8;
        padding: 50px;
    }
    .boxy{
        border-radius: 8px;
        background-color: #ebe8e1f8;
        padding: 50px;
    }
    .card{
        width: 300px;
        height: 304px;
    }
    button{
        font-size: 11pt;
        color: rgb(255, 255, 255);
        /*background-image: linear-gradient(180deg, #f6d365 0%, #fd9f858f 100%);*/
        background-color: orange;
        width: 17%;
        height: 80%;
        border-radius: 15px; 
    }
/*Customização do button*/
    .btn-custom {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

/*icone button mas não quer pegar*/    
    .btn-icon {
        padding: 8px;
        background: #ff4901;
    }

/*Cor das bordas e da sombra do form padrão*/
    .form-control:focus {
        border-color: rgb(255, 149, 11);
        box-shadow: 0 0 10px rgb(255, 149, 11);
    }

/*Raio das bordas do form pesquisar*/
    .form-controln{
        font-size: 12pt;
        color: rgb(172, 170, 164);
    }

/*Raio das bordas do form*/
    .form-controlm{
        border-radius: 50px;
        font-size: 12pt;
        width: 370px;
        color: rgb(255, 149, 11);
    }
/*cor*/
    .colorr{
    background-color:#ffffff;
    }
/*Titulos laranja -card*/
    .cardtitulo{
        color: rgb(255, 123, 0) ;
    }
/*Raio da borda do pesquisar*/
    .rounded-right{
        border-radius: 20px;
    }
