header {
  background: rgba(26, 26, 26, 0.233);
  width: 100vh;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}

.logo {
  margin-left: 5%;
  padding: 10px;
  margin: 0;
}

.logo img {
  width: 170px;
  height:50px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 500px;
  margin-left: 10%;
}

.links a {
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #71eed17a;
  font-size: 14px;
  margin-left: 18px;
  transition: .30s ease-in-out;
}

.links a:hover {
  text-decoration: none;
  border-bottom: 1px solid #71eed1;
  transform: translateY(-20%);
  transition: .30s ease-in-out all;
  color: #d3d3d37a;
}

.register {
  display: flex;
  margin-right: 15px;
  height: 45px;
}

.button-1 {
  text-align: center;
  background-color: #FFFFFF;
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  margin-right: 5px;
  height: 40px;
}

a.button-1 {
  color: #000000;
  margin-left: 5px;
  text-decoration: none;
  transition: .3s ease-in-out;
}

a.button-1:hover {
  transform: scale(105%);
  background-color: #ffffffd3;
}

.button-2 {
  text-align: center;
  background: linear-gradient(45deg, #fba505, #fba505);
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  height: 40px;
}

a.button-2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: .3s ease-in-out;
}

a.button-2:hover {
  transform: scale(105%);
  background: linear-gradient(150deg, #fae46a, #fae46a);
}

/* -------------------------------------------------------------------------- */
/*                     FECHAMENTO DA ESTILIZAÇÃO DO HEADER DA HOME-PAGE       */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                     INICIO DA ESTILIZAÇÃO DA HOME-PAGE                     */
/* -------------------------------------------------------------------------- */

body {
  position: relative;
  background-color: #9c1717;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: inherit;
  color: #ffffff00;
}

.banner {
  background: url('https://i.imgur.com/tGHe0MO.jpg');
  background-size:cover;
  background-position: 50%;
  max-height: 100vh;
  max-width: 100vw;
  display: block;
  position: relative;
}

.titulo{
  width: 90px;
}

p{
  font-size: 30pt;
  color: black;
}

.block{
  position: fixed !important;

}

.square {
  position: relative;
  min-height: 100vh;
  width: 423px;
  left: 0px;
  top: 0px;
  background: rgba(242, 155, 0, 0.35);
  z-index: 1;
}

.square img {
  margin-left: 222px;
  width: 200px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  /*background-color: rgba(0, 0, 0, 0.055);
    height: 70px;*/
}

.nav {
  display: inline-flex;
  position: relative;
  width: 420px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.buttons {
  float: right;
  display: flex;
  position: relative;
  text-transform: uppercase;
  transform: translateY(-80%);
}

.buttons a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.buttons a:hover {
  letter-spacing: 0.5px;
  cursor: pointer;
}

.buttons .btn1-nav {
  background: #FFFFFF;
  border-radius: 38px;
  margin-right: 15px;
  width: 133px;
  height: 43px;
  color: #00FFC2;
  text-align: center;
  line-height: 260%;
  font-weight: 500;
  font-size: 16px;
}

.buttons .btn1-nav:hover {
  background: #ebebeb;
}

.buttons .btn2-nav:hover {
  background: linear-gradient(180deg, #71EED0 0%, #13ac85 100%);
}

.buttons .btn2-nav {
  background: linear-gradient(180deg, #71EED0 0%, #1FC89F 100%);
  border-radius: 38px;
  width: 133px;
  height: 43px;
  color: #FFFFFF;
  text-align: center;
  line-height: 260%;
}

.nav a {
  text-transform: uppercase;
  display: flex;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgba(113, 238, 208, 0.4);
  margin-left: 30px;
  transition: .25s ease-in-out;
}

.nav a:hover {
  color: rgb(185, 185, 185);
  border-bottom: 1px solid #00FFC2;
  transform: translateY(-20%);
}

.conteudo {
  position: absolute;
  z-index: 100;
  top: 30%;
}

.conteudo h2 {
  color: rgba(255, 255, 255, 0.63);
  font-weight: 500;
  font-size: 42pt;
  margin-left: 4%;
  margin-bottom: 10px;
}

.conteudo h4 {
  background: -webkit-linear-gradient(280deg, rgba(236, 236, 236, 0.705), rgba(255, 255, 255, 0.308));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 28pt;
  margin-left: 24%;
}

.borda {
  border: 1px solid red;
}

.container {
  min-height: 120vh;
}

.content-1 {
  width: 100%;
  height: 850px;
  position: relative;
}

.content-1 h3 {
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  width: 750px;
  z-index: 1000000;
  background: -webkit-linear-gradient(45deg, rgba(149, 161, 185, 0.644), rgba(228, 152, 152, 0.574));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section img.content-1 .blob {
  width: 100%;
  position: absolute;
  background-position: 50%;
}

section img.vetor-1 {
  background-size: cover;
  position: absolute;
  width: 700px;
}

section img.vetor-2 {
  background-size: cover;
  position: absolute;
  width: 595px;
}

section img.vetor-3 {
  position: absolute;
  width: 125px;
  left: 75%;
  top: 20%;
}

.content-1 img {
  position: absolute;
  left: 0;
}

.content-1 img.bolha-persona-1 {
  left: 600px;
  width: 200px;
  top: 20px;
  transform: rotateZ(-10deg);
  position: absolute;
}

.content-1 .bolha-persona-2 {
  left: 80%;
  top: 40%;
  width: 180px;
  transform: rotateZ(-5deg);
  position: absolute;

}

.content-1 img.bolha-persona-3 {
  left: 65%;
  top: 65%;
  width: 200px;
  transform: rotateZ(-5deg);
  position: absolute;
  z-index: 1000;

}

.content-1 img.bolha-persona-4 {
  left: 50px;
  top: 36%;
  width: 280px;
  transform: rotateZ(-5deg);
  position: absolute;

}

.line-style {
  margin-top: 38%;
  opacity: 1;
  z-index: -100;
}

.content-2 {
  height: 100%;
  position: relative;
}

.content-2 h2 {
  background: -webkit-linear-gradient(280deg, rgba(228, 152, 152, 0.574), rgba(149, 161, 185, 0.644));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  line-height: 69px;
  font-weight: 800;
  text-align: start;
}

.titulo-mentoria {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.texto-mentoria {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 20px;
}

.texto-mentoria h4 {
  color: #bebcbc9c;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.texto-mentoria span:nth-child(1) {
  font-size: 58px;
  font-family: Rochester;
  position: absolute;
  right: 100%;
  color: rgba(190, 188, 188, 0.349);
}

.texto-mentoria span:nth-child(2) {
  font-size: 58px;
  font-family: Rochester;
  position: absolute;
  margin-left: 15px;
  color: rgba(190, 188, 188, 0.54);
}


.caixa-cor {
  background: rgb(236, 201, 216);
  background: linear-gradient(192deg, rgba(245, 238, 241, 0.897) 15%, rgba(229, 236, 245, 0.89) 100%);
  width: 100%;
  height: 250px;
  margin-top: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.caixa-cor img {
  width: 100%;
  height: 100%;
}

.img-mentor img:nth-child(1) {
  position: absolute;
  width: 340px;
  top: 190px;
  left: 120px;
}

.img-mentor img:nth-child(2) {
  position: absolute;
  width: 220px;
  right: 110px;
}

a.link-categoria {
  color: #95A1B9;
  font-size: 24px;
  font-weight: 500;
  margin-left: 35px;
  margin-bottom: 30px;
}

.categorias {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.categorias a {
  text-decoration: none;
  margin-top: 10px;
}

.categorias h3 {
  padding-top: 10px;
}

.categorias img {
  width: 180px;
  border-radius: 50%;
  transition: .2s ease-in;
}

.categorias img:hover {
  transform: scale(115%);
}

.categorias h3 {
  color: rgba(145, 145, 145, 0.616);
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  margin-top: 10px;
}

.categoria-itens {
  display: flex;
}

.categorias h4 {
  background: -webkit-linear-gradient(250deg, rgba(245, 189, 189, 0.574), rgba(149, 161, 185, 0.644));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52pt;
  font-weight: 800;
  margin-bottom: 50px;
}



.texto-categoria h2 {
  background: -webkit-linear-gradient(18deg, rgba(228, 152, 152, 0.574), rgba(149, 161, 185, 0.644));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52pt;
  font-weight: 800;
  margin-top: 90px;
}

.texto-categoria p {
  font-size: 18pt;
  text-align: start;
  color: #7e7e7ec2;
}

.circlue-categoria {
  width: 350px;
  height: 350px;
  background: #F5E7E7;
  position: absolute;
  border-radius: 50%;
  left: 4%;
  top: 60%;
  z-index: -1;
}

.circlue-categoria-2 {
  width: 400px;
  height: 400px;
  background: #EAFFFA;
  position: absolute;
  bottom: -40%;
  right: 5%;
  border-radius: 50%;
}

.mentores {
  position: relative;
  padding-bottom: 20px;
}

.mentores img {
  width: 550px;
  background-size: auto;
  height: 720px;
  object-fit: cover;
  border-radius: 2%;
}

.mentores h2 {
  color: #C9C0C0;
  font-size: 54pt;
  font-weight: 800;
  text-align: start;
  line-height: 100%;
  margin: 8% 0;
}

.mentores p {
  font-size: 16pt;
  font-weight: 500;
  color: #969696;
  padding-left: 10px;
}

.texto-mentoria-3 h2 {
  margin-top: 50px;
  margin-left: 25px;
}

.texto-mentoria-3 p {
  margin-left: 25px;
}

.borda-mentoria {
  border-left: 2px solid rgba(249, 128, 60, 0.62);
  height: 345px;
  margin-top: 45px;
}

.circlue-mentor {
  background: rgba(249, 128, 60, 0.18);
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 15%;
  border-radius: 50%;
}

.circlue-mentor-2 {
  background: #faeaea;
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 10%;
  left: 30%;
  border-radius: 50%;
}

.section-impacto {
  background: linear-gradient(166.91deg, #FFFFFF 7.18%, #D6FAF1 61.05%);
  padding-top: 50px;
}

img.impacto-img{
  background-size: contain;
  object-fit: cover;
  width: 280px;
  height: 400px;
  margin-top: 50px;
  z-index: 1;
}

img.aspas{
  top: -10%;
  left: -10%;
  width: 50px;
  opacity: 0.5;
}

img.elemento-style{
  bottom: 0;
  right: 8%;
  width: 300px;
  opacity: 0.6;
}

.section-impacto h2 {
  font-family: Poly;
  font-size: 100px;
  font-style: italic;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #F9803C9E;
}

.section-impacto p {
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 52px;
  color: rgba(0, 0, 0, 0.5);
}

.section-impacto span {
  color: #F9803C9E;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
}

.caixa-persona {
  top: 0;
  left: 0;
  background: #f8dcc9;
  width: 280px;
  height: 400px;
}

.caixa-persona-2 {
  top: 0;
  right: 5%;
  background: #FDFF94;
  width: 280px;
  height: 400px;
}

#bolhas-detalhe{
  height: 50px;
  width: 1000px;
  right: 20%;
  bottom: 0;
}

.desenvolvedores{
  background: linear-gradient(180deg, #D6FAF1 18.78%, #F1F1F1 100%);
  height: 800px;
  padding-top: 80px;
}

.desenvolvedores h4{
  text-transform: uppercase ;
  font-weight: 500;
  color: #919191;
}

.desenvolvedores h3{
  font-size: 32px;
}

.desenvolvedores p{
  text-align: center;
  font-size: 18px;
  color: #a1a1a1;
  margin-top: 10px;
  font-weight: 300;
  padding-bottom: 10px;
}

.desenvolvedores img{
  width: 300px;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
 
  .header{
    height: 10%;
  }
  .logo img{
    width: 100px;
  }

  .links,
  .register{
    display: none;
  }

  .toggler{
    width: 80px;
    height: 110px;
    margin-right: 20px;
  }
  .linha-1,
  .linha-2,
  .linha-3{
    background: rgba(255, 255, 255, 0.774);
    height: 5px;
    width: 100%;
    margin: 20px auto;
  }


  .banner{
    height: 218vh;
  }
  .square{
    /* width: 274px; */
    min-width: 102vh;
    opacity: 0.2;
  }
  .conteudo{
    margin-top: 250px;
  }
  .conteudo h2{
    text-align: center;
    color: white !important;
    font-size: 70pt;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .conteudo h4{
    text-align: center;
    margin-left: 0;
    font-size: 48pt;
  }
  .circlue-1{
    left: 430px;
  }

  .content-1{
    min-width: 100vh;
    height: 198vh;
  }

  .content-1 h3{
    font-size: 4em;
    width: 100%;
    border: 1px solid red;
  }
  
  .content-1 img.bolha-persona-1{
    left: 30%;
    width: 40%;
    top: 12%;
  }

  .content-1 img.bolha-persona-2{
    left: 70%;
    top: 52%;
    width: 27%;
  }

  .content-1 img.bolha-persona-3{
    left: 49%;
    top: 73%;
    width: 36%;
  }

  .content-1 img.bolha-persona-4{
    left: 1%;
    top: 51%;
    width: 44%;
  }

  section img.vetor-1{
    width: 100%;
  }

  section img.vetor-2{
    width: 80%;
  }

  .texto-persona{
    border: 1px solid blue;
    margin-top: 50%;
  }
  

  .section-impacto h2{
    font-size: 52px;
    font-weight: 400;
    line-height: 49px;
    text-align: center;
    margin-top: 50px;
  }

  .section-impacto p{
    font-size: 35px;
    line-height: 44px;
    margin-top: 50px;
    text-align: center;
  }

  .texto-mentoria-3 h2{
    margin-left: 0;
  }

  .mentores h2{
    font-size: 30pt;
    text-align: center;
  }

  img.aspas{
    top: 3%;
    left: 5%;
    width: 38px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

@keyframes circle-move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15%);
    opacity: .10;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes circle-move-2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translate(-20%, 18%);
    opacity: .50;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes circle-move-3 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes circle-move-4 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes img-persona-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}
