<div class="container-fluid">
  <div class="row bg-coluna align-items-center">
    <div class="col-md-5 container">
      <iframe width="750" height="450" src="https://www.youtube.com/embed/Y67C2BBbsqY" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-color text-color-size-form">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 box">
          <h1 class="text-center mb-3">Entrar</h1>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">Entrar</button>
          </div>
          <hr class="mt-5 mb-5">
          <p class="text-center"> Não tem uma conta? Cadastra-se </p>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary mr-4" routerLink='/cadastrar'>Empresa</button>
            <button type="submit" class="btn btn-secondary " routerLink='/cadastrar'>Familia</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Descrição do Projeto-->
<!--Descrição da equipe-->
<div class="container-fluid bg-coluna">

  <div class="container-fluid d-flex justify-content-center align-items-center text-size">
    <!--integrante 1-->
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center mt-5">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center text-size mt-5">
    <!--integrante 2-->
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin text-right">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center text-size mt-5">
    <!--integrante 3-->
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center text-size mt-5">
    <!--integrante 4-->
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin text-right">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center text-size mt-5">
    <!--integrante 5-->
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center text-size mt-5">
    <!--integrante 6-->
    <div class="row">
      <div class="col-md-12">
        <h2 class="img-margin text-right">Gustavo Augusto</h2>
        <p class="img-margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, molestiae. Dolorem
          reiciendis iure
          aspernatur deserunt, hic sint repellendus, sed praesentium nisi labore perferendis debitis temporibus ipsam
          qui
          voluptates maiores dignissimos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-items-center d-flex justify-content-center mb-5">
        <img src=" https://i.imgur.com/XB5sOw8.jpg" alt="" class="img-perfil img-margin">
      </div>
    </div>
  </div>
</div>