<div class="container-fluid">
    <div class="row bg-coluna align-items-center">
        <div class="col-md-5 font-weight-bold text-color-size-form">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 box">
                    
                    <h1 class="text-center font-weight-bold mb-4">Cadastro Familiar</h1>
            
                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome completo">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuario de acesso">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da Foto</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">
                    </div>

                    <div class="d-flex justify-content-center mt-4 mb-4">
                        <button type="submit" class="btn btn-lg mr-4" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn" routerLink='/entrar'>Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7" id="img-bg"></div>
    </div>
</div>