/* -------------------------------------------------------------------------- */
/*                     INCIO DA ESTILIZAÇÃO DO HEADER DA HOME-PAGE            */
/* -------------------------------------------------------------------------- */

header {
  background: rgba(26, 26, 26, 0.8);
  width: 100vh;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}
  
.logo {
  margin-left: 5%;
  padding: 10px;
  margin: 0;
}
  
.logo img {
  width: 170px;
  height:50px;
}
  
.links {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 500px;
  margin-left: 10%;
}
  
.links a {
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid #71eed17a;
  font-size: 14px;
  margin-left: 18px;
  transition: .30s ease-in-out;
}
  
.links a:hover {
  text-decoration: none;
  border-bottom: 1px solid #71eed1;
  transform: translateY(-20%);
  transition: .30s ease-in-out all;
  color: #d3d3d37a;
}
  
.register {
  display: flex;
  margin-right: 15px;
  height: 45px;
}
  
.button-1 {
  text-align: center;
  background-color: #FFFFFF;
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  margin-right: 15px;
  height: 40px;
}
  
a.button-1 {
  color: #000000;
  margin-left: 5px;
  text-decoration: none;
  transition: .3s ease-in-out;
}
  
a.button-1:hover {
  transform: scale(105%);
  background: linear-gradient(150deg, #ff5d5d, #fae46a);
}
  
.button-2 {
  text-align: center;
  background: linear-gradient(45deg, #fba505, #fba505);
  padding: 8px;
  width: 115px;
  border-radius: 10px;
  height: 40px;
}
  
a.button-2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: .3s ease-in-out;
}
  
a.button-2:hover {
  transform: scale(105%);
  background: linear-gradient(150deg, #ff5d5d, #fae46a);
}