<header class="header" #header>
    <div class="logo">
        <a href=""><img src="https://i.imgur.com/Gq1DlTp.png" alt=""></a>
    </div>
    <div class="register ml-auto">
        <a routerLink='/logar' class="button-1">ENTRAR</a>
        <a routerLink='/cadastrar' href="" class="button-2">CADASTRAR</a>
    </div>
    <div class="toggler">
        <div class="linha-1"></div>
        <div class="linha-2"></div>
        <div class="linha-3"></div>
    </div>
</header>

<div class="container-fluid m-0 p-0 main">
    <section class="container-fluid banner">
        <div class="row">
            <div class="col-md-6 col-sm-12 conteudo" #banner>
                <div class="row align-it">
                    <h2 class="text-white">Acabar com a pobreza em todas as suas formas, em todos os lugares.</h2>
                </div>
            </div>
        </div>
        <div class="square" #divisorBanner></div>
    </section>
</div>

<!--SOBRE O PROJETO-->

<div class="container-fluid bg-sobre">

    <div class="row d-flex align-items-center justify-content-center">

        <div class="col-md-6">

            <h1 class="titulo-home"><strong>SOBRE O PROJETO</strong></h1>

            <p>Somos uma rede social que busca solucionar um
                problema que faz parte da realidade de muitas pessoas, a pobreza em todas suas formas.
            </p>
            <p>Nosso intuito é criar um de laço entre famílias em situação de vunerabilidade e empresas parceiras,
                que de
                uma forma positiva, ambos os lados se beneficiarão.
            </p>
            <p>O projeto foi criado e desenvolvido de acordo com as pautas apresentadas pela primeira ODS da
                Organização das Nações Unidas, a erradicação da pobreza que tem como foco atuar diretamente nas
                causas principais, para que não falte alimento e educação para todes.
            </p>
        </div>

        <div class="col-md-6 faixa-bg"></div>

    </div>
</div>

<!--SOBRE A EQUIPE-->

<div class="container-fluid bg-sobre">

    <h1 class="titulo-home mb-5">SOBRE NÓS</h1>

    <div class="container-equipe">

        <div class="row">

            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="membro-1">
                    <div class="card-deck mr-5">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/lpq9m6h.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>Alexandra</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="membro-2">
                    <div class="card-deck mr-5">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/jxXVhwc.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>Taila</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="membro-3">
                    <div class="card-deck">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/diug5MO.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>Jefferson</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-equipe">

        <div class="row line-2">

            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="membro-4">
                    <div class="card-deck mr-5">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/vpO8EFd.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>José</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="membro-5">
                    <div class="card-deck mr-5">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/jxXVhwc.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>Taila</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="membro-6">
                    <div class="card-deck">
                        <div class="flip-card-container">
                            <div class="flip-card">
                                <div class="flip-card-front"><img src="https://i.imgur.com/diug5MO.jpg" alt=""
                                        style="width: 300px; height: 300px;"></div>
                                <div class="flip-card-back">REDE SOCIAIS</div>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title text-center"><strong>Jefferson</strong></h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>